::-webkit-scrollbar {
  width: 2em;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: transparent;

  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #332a7c;
  border-radius: 100vw;
  border: 0.25em #332a7c;
}

input[type="radio"] {
  margin-left: 10px;
}

.ProfileInfo {
  position: absolute;
  width: 277px;
  height: 800px;
  left: 25px;
  top: 56px;

  background: #363635;
  /* shadow 1 */

  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}

.loginbutt {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 25%;
  top: 80%;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 10px;
}

.signbutt {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 25%;
  top: 89%;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #169c9c, #169c9c);
  border-radius: 10px;
}

.logoutbutt {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 25%;
  top: 85%;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 10px;
}

.ProfilePic {
  position: absolute;
  width: 153px;
  height: 153px;
  left: 23%;
  top: 30px;
}

/* Login screen */

.logintitletext {
  position: absolute;
  top: 40px;
  left: 35%;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 300px;
  line-height: 29px;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.loginstuff {
  position: relative;
  top: 650px;
  left: 40%;
}

#username {
  position: relative;
  /* left: 650px; */
  size: 40px;
  color: white;
  /* top: 730px; */
}
#usernametextbox {
  position: relative;
  left: 180px;
  top: -55px;
  height: 30px;
  width: 250px;
}

.passwordstuff {
  position: relative;
  top: 640px;
  left: 40%;
}

#password {
  position: relative;
  /* left: 650px; */
  size: 40px;
  color: white;
  /* top: 730px; */
}
#passwordtextbox {
  position: relative;
  left: 180px;
  top: -55px;
  height: 30px;
  width: 250px;
}

.otherloginbutton {
  position: absolute;
  width: 150px;
  height: 70px;
  left: 48%;
  top: 860px;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #169c9c, #169c9c);
  border-radius: 10px;
}

.Name {
  position: absolute;
  width: 153px;
  height: 153px;
  left: 81px;
  top: 88px;

  background: #169c9c;
}

.User {
  position: absolute;
  width: 217.17px;
  height: 31px;
  left: 19%;
  top: 194px;

  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.5px;

  color: #ffffff;
}

.Info {
  position: absolute;
  width: 57.52px;
  height: 48px;
  left: 20%;
  top: 245px;

  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.5px;

  color: white;
}

.Header {
  /* position: absolute;
    width: 760px;
    height: 138px;
    left: 333px;
    top: 64px; */

  position: absolute;
  width: 800px;
  height: 140px;
  left: 315px;
  top: 58px;

  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 20px;
}

.HeaderText {
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 29px;
  letter-spacing: 0.5px;

  color: #ffffff;
}
.HeaderAnimation {
  position: absolute;
  left: 730px;
  top: 40px;
  transform: scaleX(-1);
}

.Search {
  position: relative;
  top: 200px;
  left: 100px;
  width: 860px;
  height: 50px;
  border-radius: 15px;
  background-color: #1c1c1e;
  color: white;
  font-size: large;
}

.SearchButton {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 995px;
  top: 202px;
  color: white;
  font-size: large;

  background: linear-gradient(0deg, #169c9c, #169c9c);
  border-radius: 10px;
}

/* Button that opens up add console */
.AddNewWorkout {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 1160px;
  top: 202px;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 10px;
}

/* adding the workout to the database */

.AddToCategory {
  position: relative;
  width: 85%;
  top: 40px;
  left: 20px;
  font-size: smaller;
  color: white;
}

.AddWorkoutButton {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 23%;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 10px;
}

.CancelAddWorkoutButton {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 78%;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #169c9c, #169c9c);
  border-radius: 10px;
  top: 2px;
}

/*adding workout to day*/
.addworkoutDateDictionary {
  color: turquoise;
  position: relative;
  top: -10px;
  margin: 0;
}

.Calendar {
  position: absolute;
  height: 651px;
  left: 300px;
  top: 210px;
}

.TodayWorkout {
  position: absolute;
  width: 294px;
  height: 802px;
  left: 1125px;
  top: 56px;

  background: #363635;
  /* 1 */

  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;

  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5px;

  color: #169c9c;
}

.TodayW {
  position: absolute;
  width: 236px;
  height: 92.46px;
  left: 6%;
  top: 50px;
  font-family: "Lobster", cursive;
}

.TodaysWorkoutList {
  position: relative;
  top: 80px;
  font-size: 15px;
}

.thelistofworkoutsintoday {
  height: 0px;
}
.WorkoutDate {
  position: relative;
  text-align: center;
  font-size: 14px;
  top: 80px;
  color: white;
}

.addworkoutDate {
  position: relative;
  color: #169c9c;
  text-align: center;
  top: 30px;
  margin: 3px;
}

.WorkoutInventoryConsole {
  /* position: absolute;
width: 1358px;
height: 1282px;
left: 33px;
top: 900px; */

  position: absolute;
  width: 1393px;
  height: 1400px;
  left: 26px;
  top: 900px;
  background: #363635;
  /* 1 */

  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}

.InventoryTitle {
  position: absolute;
  width: 1038px;
  height: 32.4px;
  left: 500px;
  top: 50px;

  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.5px;

  color: #169c9c;
}

.InventoryOutput {
  position: absolute;
  width: 1112px;
  height: 581px;
  top: 750px;
  left: 145px;

  background: rgba(22, 156, 156, 0.35);
  /* 1 */

  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;

  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-base-color: blue;
}

/* New Workout Console */

.NewWorkoutBackground {
  position: absolute;
  width: 293px;
  height: 471px;
  left: 1125px;
  padding-left: 1px;

  top: 600px;
  padding-bottom: 30px;

  background: #363635;
  /* shadow 1 */

  z-index: 1000;
}

.AddWorkoutInputName {
  position: relative;
  top: 30px;
  left: 15px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background-color: #1c1c1ef6;
  color: white;
  font-size: large;
}

.AddWorkoutInputBody {
  position: relative;
  top: 50px;
  left: 18px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: #1c1c1ef6;
  color: white;
  font-size: large;
}

.NewWorkoutButtons {
  position: relative;
  top: 60px;
  left: -25px;
}

.listHeaders {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.trashcan {
  position: relative;
  top: 3px;
  left: 10px;
  background: transparent;
  border-radius: 30px;
  border: #332a7c;
  color: white;
  font-size: 24px;
}

.ConsoleContent {
  position: relative;
  color: white;
  width: 1000px;
  top: 30px;
}

.descriptiontextbox {
  background: linear-gradient(0deg, #342a7c00, #332a7c);
  border-radius: 15px;

  height: 100px;
  width: 1000px;
  font-size: 20px;
  color: white;
}

.edit-save {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 860px;
  color: white;
  font-size: large;
  background: linear-gradient(0deg, #332a7c, #332a7c);
  border-radius: 10px;
}
.editpencil {
  position: relative;
  background: transparent;
  border-radius: 30px;
  border: #332a7c;
  color: white;
  font-size: 18px;
  left: 8px;
}

.addtocalendar {
  position: relative;
  background: transparent;
  border-radius: 30px;
  border: #332a7c;
  color: white;
  font-size: 18px;
  left: 6px;
}

.TodaysWorkoutList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

/* Buttons for Workout Groups  */

.searchandnewbutton {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  left: -4px;
}

.Buttons {
  position: relative;
  margin: 0 auto;
  left: 20px;
  top: 300px;
}

.Buttons h1 {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}

/* Cardio */
.Cardiobutton {
  position: absolute;
  width: 240px;
  height: 303px;
  left: 80px;
  top: 30%;

  background: linear-gradient(0deg, #672a7c, #672a7c);
  border-radius: 20px;
}

.Cardiobuttontitle {
  position: absolute;
  width: 240px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: linear-gradient(0deg, #f4477200, #f4477257);
  border-radius: 20px;
}

/* Vector */

.Cardiobuttonvector {
  position: absolute;
  left: 17%;
  right: 22.29%;
  top: 34.66%;
  bottom: 10.26%;
}

/* Arms */

.Armsbutton {
  position: absolute;
  width: 240px;
  height: 303px;
  left: 400px;
  top: 30%;

  background: linear-gradient(0deg, #2a727c, #1fbebe);
  border-radius: 20px;
}

.Armsbuttontitle {
  position: absolute;
  width: 240px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: linear-gradient(0deg, #f4477200, hsl(239, 89%, 62%));
  border-radius: 20px;
}
/* Vector */

.Armsbuttonvector {
  position: absolute;
  left: 17%;
  right: 22.29%;
  top: 34.66%;
  bottom: 10.26%;
}

/* Core */

.Corebutton {
  position: absolute;
  width: 240px;
  height: 303px;
  left: 720px;
  top: 30%;

  background: linear-gradient(0deg, hsl(285, 45%, 26%), #672a7c);
  border-radius: 20px;
}

.Corebuttontitle {
  position: absolute;
  width: 240px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: linear-gradient(0deg, #f4477200, #f4477257);
  border-radius: 20px;
}
/* Vector */

.Corebuttonvector {
  position: absolute;
  left: 15%;
  right: 22.29%;
  top: 34.66%;
  bottom: 10.26%;
}

/* Yoga */

.Yogabutton {
  position: absolute;
  width: 240px;
  height: 303px;
  left: 1040px;
  top: 30%;

  background: linear-gradient(0deg, #2a727c, #1fbebe);
  border-radius: 20px;
}

.Yogabuttontitle {
  position: absolute;
  width: 240px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: linear-gradient(0deg, #f4477200, hsl(239, 89%, 62%));
  border-radius: 20px;
}
/* Vector */

.Yogabuttonvector {
  position: absolute;
  left: 11%;
  right: 22.29%;
  top: 34.66%;
  bottom: 10.26%;
}
